name: Check formatting

on:
  pull_request:
  push:

jobs:
  clang-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install clang-format
        run: sudo apt-get install -y clang-format

      - name: Run clang-format check
        run: |
          FILES=$(find cpp -name "*.cpp" -o -name "*.h" -o -name "*.hpp")
          clang-format --dry-run --Werror $FILES
